.chatMessage {
    .vCenter {
        vertical-align: middle;
    }
    .center {
        text-align: center;
    }
    .right {
        text-align: right;
    }
    .left {
        text-align: left;
    }
    .floatRight {
        float: right;
    }
    .floatLeft {
        float: left;
    }
    .fitToContent {
        display: inline-block;
    }
    .flexCenter {
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .smallInput {
        display: inline-block;
        width: 50px;
    }
    .mediumInput {
        display: inline-block;
        width: 100px;
    }
    .itemSection {
        padding-top: 0.5em;
    }
    .editor {
        min-height: 250px;
    }
    textarea {
        min-height: 80px;
    }
}

.outerheaven.weapon-attack {
    display: grid;
    grid-template-areas:
        "header header"
        "attack-details ammo-range"
        "damage-details attack-costs"
        "properties properties"
        "target-results target-results";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.3em;

    > .attack-details,
    > .ammo-range,
    > .damage-details,
    > .attack-costs,
    > .properties {
        border-radius: 0.5em;
        background: rgba(0, 0, 0, 0.1);
        padding: 0.2em;

        .dice-flavor,
        .properties-header {
            font-weight: bold;
        }
        .ammo,
        .range,
        .number-of-attacks,
        .ap {
            margin: 0.1em;

            .ammo-empty {
                font-weight: bold;
                color: darkorange;
            }
        }
    }

    .card-header {
        grid-area: header;
        .item-name {
            text-align: center;
            margin: 0px 1em 0.5em 1em;
        }

        img {
            max-width: 32px;
            max-height: 32px;
        }
    }

    .attack-details {
        grid-area: attack-details;
    }
    .ammo-range {
        grid-area: ammo-range;
        max-height: 47px;
    }
    .damage-details {
        grid-area: damage-details;
    }
    .attack-costs {
        grid-area: attack-costs;
        max-height: 47px;
        button {
            max-width: 3em;
            max-height: 3em;
        }
    }
    .properties {
        grid-area: properties;
    }

    .target-results {
        grid-area: target-results;
        border-radius: 0.5em;
        background: rgba(0, 0, 0, 0.1);
        padding: 3px;
        gap: 0.2em;

        .target-header {
            font-weight: bold;
            margin-bottom: 0;
        }

        .target-result {
            gap: 0.2em;

            // Add border between targets
            &:not(:first-child) {
                margin-top: 0.2em;
                border-top: 1px groove rgba(0, 0, 0, 0.4);
            }

            .target-icon {
                max-width: 32px;
                max-height: 32px;
                align-self: center;
            }
            .target-name {
                font-weight: bold;
            }
            .target-range {
                text-align: right;
            }
            .target-rolls {
                gap: 0.2em;
            }
            .target-attack {
                .hit {
                    color: #18520b;
                }
                .miss {
                    color: #aa0200;
                }
            }
            .target-damage {
                margin-top: unset;
            }
            .apply-damage {
                max-height: 32px;
                max-width: 32px;
                align-self: end;
            }
        }
    }
}
