.characterSheet .vCenter {
  vertical-align: middle;
}
.characterSheet .center {
  text-align: center;
}
.characterSheet .right {
  text-align: right;
}
.characterSheet .left {
  text-align: left;
}
.characterSheet .floatRight {
  float: right;
}
.characterSheet .floatLeft {
  float: left;
}
.characterSheet .fitToContent {
  display: inline-block;
}
.characterSheet .flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.characterSheet .smallInput {
  display: inline-block;
  width: 50px;
}
.characterSheet .mediumInput {
  display: inline-block;
  width: 100px;
}
.characterSheet .section {
  overflow: auto;
}
.characterSheet .editor {
  min-height: 250px;
}
.characterSheet .descMaxLength {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.characterSheet textarea {
  min-height: 80px;
}
.characterSheet .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.itemSheet .vCenter {
  vertical-align: middle;
}
.itemSheet .center {
  text-align: center;
}
.itemSheet .right {
  text-align: right;
}
.itemSheet .left {
  text-align: left;
}
.itemSheet .floatRight {
  float: right;
}
.itemSheet .floatLeft {
  float: left;
}
.itemSheet .fitToContent {
  display: inline-block;
}
.itemSheet .flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.itemSheet .smallInput {
  display: inline-block;
  width: 50px;
}
.itemSheet .mediumInput {
  display: inline-block;
  width: 100px;
}
.itemSheet .itemSection {
  padding-top: 0.5em;
}
.itemSheet .editor {
  min-height: 250px;
}
.itemSheet textarea {
  min-height: 80px;
}
.chatMessage .vCenter {
  vertical-align: middle;
}
.chatMessage .center {
  text-align: center;
}
.chatMessage .right {
  text-align: right;
}
.chatMessage .left {
  text-align: left;
}
.chatMessage .floatRight {
  float: right;
}
.chatMessage .floatLeft {
  float: left;
}
.chatMessage .fitToContent {
  display: inline-block;
}
.chatMessage .flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.chatMessage .smallInput {
  display: inline-block;
  width: 50px;
}
.chatMessage .mediumInput {
  display: inline-block;
  width: 100px;
}
.chatMessage .itemSection {
  padding-top: 0.5em;
}
.chatMessage .editor {
  min-height: 250px;
}
.chatMessage textarea {
  min-height: 80px;
}
