<div class="form-group">
  <label>{{localize "OH.EffectType"}}</label>
  <select name="flags.outerheaven.type">
    {{selectOptions config.effectTypes selected=system.type blank="" localize=true}}
  </select>
  <p class="hint">{{localize "OH.EffectTypes.Hint"}}</p>
</div>
